@media only screen and (min-width: 320px) {

  h2.piece-title {
    font-size: 2em;
}

    input#create-password {
    font-size: 4em;
    height: 1em;
   }

input#create-username {
    font-size: 3REM;
    height:2em;
}


.create-account-title{
    margin-top:1em
}

input#log-in-username {
    font-size: 3rem;
    height:2em;
}

input#log-in-password {
    font-size: 4em;
    height:1em;
}

 .jon-bio {
    margin-top: 5em;
    font-size:3em;
}



p.part-id-reference {
    font-size: 2em;
}

input#piece-number {
    font-size: 3em;
    margin-top: 1em;
    height: 2em;
}

button.get-favorites {
    font-size: 2em;
    margin:.5em;
}

button.logout {
    font-size: 2em;
}

button.find-sets {
    font-size: 2em;
    margin:0 .5em;
}

button.piece-submit {
    font-size: 2em;
}

h1.search-pieces-title {
    margin-top: 4em;
    font-size: 4em;
}

h1.login-title {
    margin-top: 3em;
    font-size: 5em;
}

h1.create-account-title {
    font-size: 5em;
}

button.password-submit {
    font-size:3em;
    padding:.2em 1em
}

button.create-account-submit{
    font-size:3em;
    padding:.2em 1em;
    margin-bottom:2em
}

h1.rebrickable-app-welcome-title {
    font-size: 6em;
    margin-top: 3em;
}

p.welcome-message {
    font-size: 3em;
}

.nav-wrapper.blue.darken-4.welcome-nav-bar {
    height: 15em;

}

h3.welcome-sign-in {
    font-size: 3em;
}

button.login-button {
    font-size: 2em;
    padding: .5em 1em;
    margin:1em auto;
}

footer.page-footer.blue.darken-4 {
    height: 225px;
}

h5.white-text {
    font-size: 2em;
}

a.grey-text.text-lighten-3 {
    font-size: 2em;
}

}


@media only screen and (min-width: 1024px) {

.jon-bio-button{
    font-size: 30px;
    margin-top: 3em;
}

button.astext.welcome-button{
    font-size: 30px;
    margin-top: 2.9em;
}

.col.l4.offset-l2.s12 {
    width: 70%;
}

}

@media only screen and (min-width: 1024px) {

.col.l4.offset-l2.s12{
    position:absolute;
    left:0;
    margin-left:2em
}

}

@media only screen and (min-width: 2560px) {

button.login-button {
    font-size:3em;
}

.col.l4.offset-l2.s12 {
   position:absolute;
   left:0;
   margin-left:3em;

}



}



  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
